
/*----------------------------- для дисплея шириной 1156px ---------------------------------------*/

@media (max-width: 1156px){
  .services__items {
    display: block;         /* сделали item'ы блочными, чтобы они расположить друг под другом */
  }

  .services__item {         /* центровка item'ов для экрана 1156px */
    max-width: 80%;       
    min-height: 330px;
    margin: 30px auto;
  }

  .form__inner {            /* убрали барышню сосвем, чтоб не заслоняла контент */
    background-image: none;
  }

  .news__inner {
    display: block;         /* новостные блоки друг за другом */
  }

  .news__slider {
    max-width: 100%;
    margin-bottom: 90px;
  }

  .news__block {
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .news__block:after {      /* для float'ов */
    content: "";
    clear: both;
    display: block;
  }

  .news__images {
    float: left;         /* задали float картинке, чтобы они расположись в строку */
    margin-right: 50px;  /* отодвинули текст от картинки */
  }

  .news {
    padding-bottom: 60px;  /* отступили от блока новостей снизу */
  }

  .footer__info {
    max-width: 465px;
    margin-bottom: 25px;
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 900px-----------------------------------------*/

@media (max-width: 1050px){
  .footer__inner {
    display: block;       /* сдвигаем карту */
  } 

  .footer__map {
    max-width: 100%;      /* растянули карту */
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 900px-----------------------------------------*/

@media (max-width: 900px){
  .slider .slick-btn {
    display: none !important;    /* чтобы кнопки перелистывания слайда пропали с экрана на дисплеях до 900px*/
  }

  .services__top,                /* сдвигаем влево кнопку "Показать все услуги", сделав её блочной */
  .news__top {                   /* сдвигаем влево кнопку "Открыть все новости", сделав её блочной */
    display: block;              
  }

  .services__title-box,          /* настройка шапки блока услуг, в частности заголовка "Наши услуги" */
  .form__title-box,              /* настройка шапки блока услуг, в частности заголовка "Получить консультацию" */
  .news__title-box {             /* настройка шапки блока услуг, в частности заголовка "Новости Компании" */
    padding-left: 0;           
    text-align: center;
    margin: 0 auto 30px;
  }

  .services__title-box:before,   /* убрали линию перед заголовком "Наши услуги" */
  .form__title-box:before,       /* убрали линию перед заголовком "Получить консультацию" */
  .news__title-box:before {      /* убрали линию перед заголовком "Новости Компании" */
    display: none;
  }

  .services__btn,                /* отцентровали кнопку "Показать все услуги" */    
  .news__btn {                   /* отцентровали кнопку "Открыть все новости" */  
    text-align: center;
  }

  .form__box-inner {
    display: block;              /* делаем формы блочными - друг под другом */
  }

  .form__box-left {
    max-width: 100%;             /* центруем левый блок формы */
  }

  .form__box-right {
    max-width: 100%;             /* центруем правый блок формы */
  }

  .form__box-inner .jq-selectbox__select {
    margin-bottom: 10px;         /* сделали отступ select'у */  
  }

  .form {
    padding-bottom: 25px;        /* отступ для всего блока снизу, чтоб кнопка "Получитьк онсультацию" не залезала на след.блок */
  }

  .advantages__inner {           /* преимущества длаем блочными  */
    display: block;
  }

  .advantages__item {            /* центровка преимуществ */
    max-width: 100%;
    margin-bottom: 30px;
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 700px-----------------------------------------*/

@media (max-width: 700px){
  .header__btn {       
    float: none;         /* чтобы кнопка "бесплатная консультация" перескакивала на нижнюю строку" */
  }

  .header__contacts {   
    text-align: center;  /* центруем шапку сайта - телефон, email, бесплатная консультация */ 
  }

  .header__btn:before {
    display: none;       
  }

  .footer__info .header__btn:before {
    display: block;       /* чтоб не пропадал значок карты в футере */
  }

  .header__btn-menu {
    display: block;       /* включаем отображение "трёх полосок меню" для мобилки */
  }

  .menu ul {             
    display: none;        /* отключаем отображение элементов меню: "главная",... */ 
    position: absolute;   /* далее идут настройки раскрывающегося списка меню при клике по "трём полоскам" */
    left: 0;
    right: 0;
    margin-top: 20px;     /* отступ сверху для всего меню */
    z-index: 50;          /* чтобы меню всегда было доступно для клика на экране */
  }

  .menu li {
    display: block;       /* сделали элементы меню блочными */
    text-align: center;   /* элементы меню по центру */ 
  }

  .menu a {               /* тоже сделали блочными и оформили */   
    display: block;
    background-color: #ffc222;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .menu li + li {
    padding-left: 0;      /* отступы убрали у элементов меню, чтобы ровно выезжали */
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 600px ----------------------------------------*/

@media (max-width: 600px){
  .services__item {           /* центровка item'ов для экрана 600px */
    max-width: 100%;
    min-height: 375px;
    margin: 30px auto;
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 540px ----------------------------------------*/
@media (max-width: 540px){
  .news__slider {
    padding: 50px 15px 25px 25px;       /* у слайдера скооректировали padding */
  }

  .news__slider:before {
    left: 25px;
  }

  .news__slider__inner .slick-next {
    right: -15px;                       /* сдвинули кнопки чуток */ 
  }

  .news__slider__inner .slick-prev {
    right: 35px;                       /* сдвинули кнопки чуток */
  }

  .news__images {
    float: none;                       /* картинки располагаются в этом случае друг под другом */
  }

  .news__slider__inner .slick-btn {
    bottom: -90px;                     /* сдвинули кнопки слайдера, чтоб не наезжали на картинки новостей */
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 414px ---------------------------------------*/

@media (max-width: 414px){
  .slider__title {
    font-size: 24px;
  }

  .slider__text {
    font-size: 16px;
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 400px ----------------------------------------*/

@media (max-width: 400px){
  .header__btn:before {   
    display: block;       /* появляется чемоданчик на кнопке */
  }

  .advantages__item {
    padding: 0;          /* убрали отсуп между преимуществами на малом дисплее */
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея шириной 375px ----------------------------------------*/

@media (max-width: 375px){
  .header__email {
    padding-right: 30px;    /* чтобы элементы центровались для дисплея 375px */
  }
}
/*------------------------------------------------------------------------------------------------*/

/*----------------------------- для дисплея min-шириной 700px ------------------------------------*/
@media (min-width: 700px){
  .menu ul {
    display: block !important; /* чтобы меню возвращалось в исходное состояние после мобильной верстки */
  }
}
/*------------------------------------------------------------------------------------------------*/